/* $Id$ */
.qnInnerTd {
        background-color:none;
        font-family: default;
        font-size: ;
        font-style: normal;
        text-transform: none;
        color: #000000;
        text-decoration: none;
        width:26px;
        vertical-align:text-top;
}
.message {
        font-family: default;
        font-size: medium;
        font-variant: normal;
        font-weight: bold;
        color: #CC0000;
        text-align: center;
}

body#auth {
    margin: 5px;
}
.login {
    width: 480;
}
.login form {
    float: left;
}
div.row {
    clear: both;
    padding-top: 10px;
}

div.row label {
    float: left;
    padding-right: 5px;
    width: 100px;
    text-align: right;
}
