/* $Id$ */
.qnInnerTd {
        background-color:none;
        font-family: default;
        font-size: ;
        font-style: normal;
        text-transform: none;
        color: #000000;
        text-decoration: none;
        width:26px;
        vertical-align:text-top;
}
