/* $Id$ */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CCCCCC;
    margin: 0px;
}
.image {
    height:60px;
    width:100%;
}
/* title - extra large normal font */
#title {
    font-size: 150%;
    font-weight: bold;
    color: #000000;
    text-align: center;
}
/* subtitle - bold normal font */
#subtitle {
    font-size: 120%;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

/* main table (bordering the question boxes) - dark blue */
#body {
    background-color: #253D8E;
    width: 100%;
    border: 0px;
    font-size: 100%;
    color: #000000;
    text-align: center;
}
/* information below subtitle - normal font */
.addinfo {
    font-size: medium;
    color: #000000;
    text-align: center;
}
.message {
    font-size: medium;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.notice {
    text-align: center;
}

.required {
    color: red;
    font-weight: bold;
}

fieldset.hidden {
    display: none;
}

.ranktable td {
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}

.alt {
    background-color: #eeeeee;
}

.nom {
    background-color: #dddddd;
}
/* bars between question boxes - dark blue */
#body fieldset {
    margin: 10px;
    padding: 0px;
    border: 2px solid;
    background-color: #aaaaaa;
}

#survey ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/* number cell box - large bold number inside a dark grey box */
.qnumber {
    float: left;
    background-color: #aaaaaa;
    font-weight: bold;
    font-size: 120%;
    color: #000000;
    height: 100%;
    width: 4%;
    vertical-align: text-top;
}
.qtext {
    float: right;
    background-color: #CCCCCC;
    border-left: 1px solid;
    border-bottom: 1px solid;
    width: 92%;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    color: #000000; 
    font-size: 100%;
    font-weight: bold;
    text-align: left;
}
/* answer box  - white, normal black font */
.qbody {
    float: right;
    border-left: 1px solid;
    width: 92%;
    background-color: #FFFFFF;
    vertical-align: middle;
    color: #000000;
    font-size: 100%;
    text-align: left;
    min-height: 50px;
    padding: 20px;
}
.sectiontext {
    background-color: #CCCCCC;
    border-left: 1px solid;
    vertical-align: middle;
    padding: 5px;
    color: #000000; 
    font-size: 100%;
    font-weight: bold;
    text-align: left;
}

.thankHead {
    /* completion page font - large black */
    font-size: 130%;
    color: #000000;
}
.thankBody {
    /* completion page body font - normal black */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    color: #000000;
}
.returnLink {
    /* completion page link font - small dark blue */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    color: #253D8E;
    text-decoration: underline;
}
body#auth {
    margin: 5px;
}

#loginform {
    width: 14em;
}

#loginform label, #loginform input {
    display: block;
}

#loginform label {
    padding: .5em;
    font-weight: bold;
}

#loginform form {
    float: left;
}
