html,body {

}

#main {
	background-color: #0099FF;
}

#header tt {
	font-size: 130%;
}

#surveyAdmin, #surveyResults, #userAdmin, #guide, #logout {
    width: 40%;
    margin: auto;
}

#surveyAdmin, #surveyResults, #userAdmin, #guide, #logout ul{
    text-align: left;
}

#tabmenu {
    width: 95%;
    min-width: 900px;
    background-color: #0099ff;
    margin: auto;
}

#sections li{
    display: inline;
    list-style-type: none;
    vertical-align: bottom;
}

#sections input {
    vertical-align: bottom;
}

#sections {
    padding-top: 3px;
}

.contents {
        border: none;
        width: 95%;
        margin: auto;
        text-align: center;
        background-color: #FFFFFF;

}

.contents table {
	margin: auto;
	background-color: #FFFFFF;
	width: 95%;
}

.contents table .header {
	background-color: #DDDDDD;
}

.contents table th {
	text-align: left;
}

.contents table .right{
	text-align: right;
	padding-right: 5px;
}

.contents table .left{
	text-align: left;
}

.contents table .center{
	text-align: center;
}

.contents table .user {
	width: 300px;
	border: 1px solid black;
}

.contents .results {
    border: 1px solid;
    text-align: left;
}

#footer {
	width: 100%;
	text-align: center;
	font-size: x-small;
}

.red {
	color: #FF0000;
}

.large {
	font-size: x-large;
}

img {
	border: 0px;
}

.line1 {
	width: 100%;
	color: #FFFFFF;
}

.createSurvey {
	width: 90%;
}

.warn {
	color: #FF0000;
	font-size: large;
}

.error {
	color: #FF0000;
	font-size: large;
}

.numbered {
	text-align: right;
	padding-right: 5px;
}

.help {
	background-color: #FFFFFF;
	width: 98%;
}

.help td {
	text-align: left;
}
.exportsave {
    clear: left;
}

#view_survey_statistics { }
#view_survey_statistics table { }
#view_survey_statistics table tr { }
#view_survey_statistics table tbody tr:nth-child(odd) { background: #09f; }
#view_survey_statistics table td { }
#view_survey_statistics table th { }
